.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/pexels-pixabay-261181.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/pexels-pixabay-279707.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image/pexels-quark-studio-2506988.jpg);
}
